{{#if bigPicture}}
<img class="big" src="http://lovelace-media.imgix.net/getty/462953538.jpg">
{{else}}
<img class="small" src="http://lovelace-media.imgix.net/getty/462953538.jpg">
{{/if}}
<button type="submit" {{action 'showLargePicture'}}>Make Big</button>
